@import 'reset.scss';

@import '../widget/header.scss';
@import '../widget/footer.scss';
@import '../widget/cart.scss';
@import '../widget/titlebar.scss';
@import '../widget/usericon.scss';

@import '../widget/add-cart.scss';
@import '../widget/price-label.scss';


body{
	background:#faf9f5;
}

.clearfix:after{
    content:'';
    clear:both;
    overflow:hidden;
    height:0; 
    display:block; 
}
a,input,textarea,.notapcolor{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.hide{
	display: none;
}

