@import 'reset.scss';

@import '../widget/header.scss';
@import '../widget/footer.scss';
@import '../widget/cart.scss';

body{
	background:#faf9f5;
}

.clearfix:after{
    content:'';
    clear:both;
    overflow:hidden;
    height:0; 
    display:block; 
}
a,input,textarea,.notapcolor{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}