.category{
    padding-left:17px;
    background: #61cba0;
    white-space:nowrap;
    overflow-y:hidden;
    overflow-x:scroll;
    -webkit-overflow-scrolling : touch;
    ul{
        position: relative;
    }
    li{
        display: inline-block;
        color: #e4f0ed;
        padding: 10px 7px;
        margin-right: 5px;
        text-align: center;
        position: relative;
        div{
            width: 9px;
            height: 9px;
            background: #faf9f5;
            position: absolute;
            bottom: -5px;
            left: 50%;
            margin-left: -5px;
            -webkit-transform:rotate(45deg);
            transform:rotate(45deg);
            display: none;
        }
        &.cur{
            font-weight: bold;
            color:#fff;
            div{
                display: block;
            }
        }
    }
}
.category-list{
    ul{
        padding: 15px 15px;
        li{
            padding: 15px 15px;
            border-bottom: 1px solid #e7ece0;
            &:last-child{
                border-bottom: none;
            }
            a{
                display: block;
            }
            .img{
                float: left;
                width: 74px;
                height: 74px;
            }
            .info{
                margin-left: 90px;
                width: 150px;
                .name{
                    color: #333;
                    line-height: 22px;
                    margin-bottom: 5px;
                }
                .sub{
                    color: #666666;
                }
            }

        }
    }
}
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > ul {
    float:left;
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    position: relative;
}

@mixin scrollable {
    height: 308px;
    overflow-x:hidden;
    overflow-y:scroll;
    -webkit-overflow-scrolling : touch;
}
@mixin arrow($value: 45deg){
    width: 6px;
    height: 6px;
    border-bottom: 1px solid #fff;
    border-right:1px solid #fff;
    -webkit-transform: rotate($value);
}
.navbar{
    background: #61cba0;
    position: relative;
    .nav-list{
        display: -webkit-box;
        padding: 10px 0;
        li{
            -webkit-box-flex:1;
            text-align: center;
            border-right: 1px solid #fff;
            &:last-child{
                border-right:none;
            }
            color:#fff;
            font-weight:bold;
            span{
                @include arrow(45deg);
                display: inline-block;
                position: relative;
                left: 5px;
                top: -2px;
            }
        }
    }
    .category-panel{
        position: absolute;
        z-index: 99;
        width: 100%;
        display: -webkit-box;
        .category-list{
            @include scrollable;
            width: 40%;
            background: #61cba0;
            li{
                height: 43px;
                line-height: 43px;
                color: #fff;
                border-top: 1px solid #6bdfb0;
                padding-left: 15px;
                padding-right: 10px;
                span{
                    float: right;
                    display: none;
                    @include arrow(-45deg);
                    position: relative;
                    top: 18px;
                }
                &.cur{
                    background: #47c693;
                    span{
                        display: block;
                    }
                }
            }
        }
        .sub-category-list{
            @include scrollable;
            width: 60%;
            background: #47c693;
            ul{
                display: none;
                &.cur{
                    display: block;
                }
                li{
                    height: 43px;
                    line-height: 43px;
                    padding-left: 15px;
                    a{
                        color: #fff;
                    }
                    border-top: 1px solid #63cfa3;
                    &:first-child{
                        border-top: 1px solid #6bdfb0;
                    }
                }
            }
        }
    }
    
}