.product-list{
		padding: 15px 15px;
		li{
		padding: 15px 15px;
		border-bottom: 1px solid #eae8e4;
		.img{
			float: left;
			width: 74px;
			height: 74px;
			border: 1px solid #eae8e4;
		}
		.info{
			margin-left: 90px;
			width: 150px;
			.name{
				color: #333;
				line-height: 22px;
				margin-bottom: 5px;
			}
			.price{
				color: #61cba0;
				font-weight: bold;
				font-size: 24px;
			}
		}
	}
}