.common-header{
	position:relative;
	background:#6ecba0;
	padding: 10px;
	text-align:center;
	.logo{
		position:absolute;
		top:8px;
		left:15px;
		font-size: 20px;
		font-weight: bold;
		color: #fff;
		height: 35px;
		line-height: 35px;
	}
	.search-box{
		width:200px;
		height:29px;
		line-height:29px;
		margin:0 auto;
		border-radius:8px 8px;
		background:#fff;
		color:#333;
		input{
			padding: 3px 3px;
			width:190px;
		}
		input::-webkit-input-placeholder{
			color:#b3b3b3;
			text-align: center;
		}
	}
	.usericon{
		position:absolute;
		top:14px;
		right:15px;
		width: 19px;
		height: 22px;
		background:url(/static/images/ucenter_icon.png);
		background-size: 100% 100%;
	}
}